@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
#fleche{
  margin-top: 30px;
  margin-left: 20px;
  width: 40px;
  height: 34px;
  opacity: 0.80;
  background-image: url("/public/fleche1.png");
  background-size: 89%;
  background-color: rgba(43, 56, 193, 0.798);
  border-radius: 5px;
  border: none
}
#ElementInscr{ 
  background-color: #ffffff;
  opacity: 0.80;
  border-radius: 15px;
  width: 350px;
  height: 700px;
  font-size: 20px;
  font-family:'Nunito', sans-serif;;
}
h3{
  margin-top: 10px;
  text-align: center;

}
#espace{
  height: 40px;
}
#text{
  margin-left: 50px;
}
.champs{
  border: none;
  background: transparent;
  margin-top: 30px;
  margin-bottom: 10px;
}
input{
  margin-left: 20px;
}
#rect{
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
textarea{
  width: 250px;
  height: 70px;
}
#fond{
  position : absolute;
  background-image: linear-gradient(
    rgba(83, 101, 192, 0.5), 
    rgba(83, 101, 192, 0.5)
  ),url("/public/montmartre.jpg");
  background-size: 150%;
  height: 844px;
  width: 390px;
  border-radius: 15px;
}
#buton{
  margin-left: 22px;
  border-radius: 10px;
  width: 200px;
  height: 51px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: rgba(43, 56, 193, 0.798);
}

