.test{
    max-width: 330px;
}

.arr1{
    height: 150px;


}
.arr2{
    height: 150px
}

.titre {
    margin: 15px;
    max-width: 160px;
    text-align: center;

}

.circuit{
    max-width: 330px;
}

.map{
    margin: 15px;
    width: 335px;
    /* position:  */
}
