@import 'base.css';

.gp-search-circuit-wrapper {
    position:fixed;
    bottom:0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    height:30vh;
    width:100vw;
    border-radius: 80px 0 0 0;
    background: #0054A3;
}

.gp-search-circuit-wrapper div:nth-of-type(1) {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gp-search-circuit-wrapper div h1 {
    color:#fff;
    font-size: 1.2em;
} 

.gp-image-container {
    position:sticky;
    background-image: url("https://images.pexels.com/photos/2672979/pexels-photo-2672979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity:0.8;
    width:100%;
    height:auto;  
}


@media screen and (min-width: 768px) {
    .gp-search-circuit-wrapper {
        height:20vh;
        border-radius: 80px 80px 0 0;
    }

    .gp-image-container { 
        display:none;
    }
}
